<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">

    <title>Colecionáveis - Leilão Games</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div th:replace="~{fragments/cabecalho-site :: cabecalho}">
</div>

<div class="container">

    <h1 class="titulo-pagina">

        Colecionáveis

    </h1>


    <div class="card">

        <h2>⭐ Itens Colecionáveis</h2>

        <br>

        <p>

            Action figures, edições especiais, itens raros,
            consoles limitados e produtos exclusivos para colecionadores.

        </p>

        <br><br>

        <a href="/categoria/4">

            <button class="btn">

                Ver Produtos Colecionáveis

            </button>

        </a>

    </div>

</div>



<footer>

    © 2026 Leilão Games

</footer>

</body>
</html>