<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Contato - Leilão Games</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <link rel="stylesheet"
          href="/css/style.css">

</head>

<body>

<div th:replace="~{fragments/cabecalho-site :: cabecalho}">
</div>

<main class="pagina-simples">

    <h1>
        <i class="fa-solid fa-envelope"></i>
        Contato
    </h1>

    <p>
        Entre em contato com a equipe do Leilão Games.
    </p>

</main>

<footer>
    © 2026 Leilão Games - Projeto TCC TADS
</footer>

</body>
</html>