<!DOCTYPE html>
<html lang="pt-br"
xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Meus Favoritos - Leilão Games</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div th:replace="~{fragments/cabecalho-site :: cabecalho}">
</div>

<div class="container">

    <h1>Meus Favoritos</h1>

    <br><br>

    <div class="lista-produtos">

        <div class="produto-card"
             th:each="favorito : ${favoritos}">

            <img
    th:src="${favorito.produto.imagem1 != null
        ? '/uploads/' + favorito.produto.imagem1
        : '/img/sem-imagem.png'}"
    alt="Imagem do produto">

            <h2 th:text="${favorito.produto.nome}">
            </h2>

            <p>

                <strong>Categoria:</strong>

                <span th:text="${favorito.produto.categoria.nome}">
                </span>

            </p>

            <p>

                <strong>Valor Inicial:</strong>

                R$

                <span th:text="${favorito.produto.valorInicial}">
                </span>

            </p>

            <br>

            <a th:href="@{/produto/{id}(id=${favorito.produto.id})}">

                <button class="btn">

                    Ver Produto

                </button>

            </a>

            <br><br>

            <form action="/remover-favorito"
                  method="post">

                <input type="hidden"
                       name="produtoId"
                       th:value="${favorito.produto.id}">

                <button class="btn"
                        type="submit">

                    <i class="fa-solid fa-heart-crack"></i>

                    Remover dos Favoritos

                </button>

            </form>

        </div>

    </div>

</div>

<footer>

© 2026 Leilão Games - Projeto TCC TADS

<div class="redes">

<i class="fa-brands fa-facebook"></i>

<i class="fa-brands fa-instagram"></i>

<i class="fa-brands fa-discord"></i>

</div>

</footer>

</body>
</html>