<!DOCTYPE html>
<html lang="pt-br"
xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>Meus Lances - Leilão Games</title>

    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div th:replace="~{fragments/cabecalho-site :: cabecalho}">
</div>


<div class="container">

    <h1>

        Meus Lances

    </h1>

    <br><br>

    <div class="lista-produtos">

        <div class="produto-card"
             th:each="lance : ${lances}">

            <img
                th:src="${lance.produto.imagem1 != null
                ? '/uploads/' + lance.produto.imagem1
                : '/img/sem-imagem.png'}"
                alt="Imagem do produto">

            <h2 th:text="${lance.produto.nome}">
            </h2>

            <p>

                <strong>Categoria:</strong>

                <span th:text="${lance.produto.categoria.nome}">
                </span>

            </p>

            <p>

                <strong>Seu Lance:</strong>

                R$

                <span th:text="${lance.valor}">
                </span>

            </p>

            <a th:href="@{/produto/{id}(id=${lance.produto.id})}">

                <button class="btn">

                    Ver Produto

                </button>

            </a>

        </div>

    </div>

</div>


<footer>

© 2026 Leilão Games - Projeto TCC TADS

<div class="redes">

<i class="fa-brands fa-facebook"></i>

<i class="fa-brands fa-instagram"></i>

<i class="fa-brands fa-discord"></i>

</div>

</footer>

</body>
</html>